<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

{{!-- main layout  --}}
{{!-- has body of 'all.hbs' --}}

  <nav>
    <div class="site-title">
      <a href="/"><h1>Blog Ninja!</h1></a>
      <p>A Net Ninja Site</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>


     {{{ body }}}

 
  </div>

</body>
</html>