<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja</title>
</head>
<body>

  <div class="blogs content">
    <h2>All Blogs</h2>
    <p>Lorem Ipsim dalor, sit amet cinsectetur aduousucubg ekutm Quia quivusdam quaerat ukku a modi teneten</p>
    <p>Lorem Ipsim dalor, sit amet cinsectetur aduousucubg ekutm Quia quivusdam quaerat ukku a modi teneten</p>
    <p>Lorem Ipsim dalor, sit amet cinsectetur aduousucubg ekutm Quia quivusdam quaerat ukku a modi teneten</p>
  </div>

  <h3>ADDING STUFF HERE</h3>

</body>
</html>