
<body>


      <div class="headings">
      <h1>Create An Account</h1>
    </div>

<div class="fields">
<div class="form-cont">
<input id="user-name" placeholder="username">
<input id="email" placeholder="email">
<input id="password" placeholder="password">
<button id="create-accountBtn">Create Account</button>
</div>
</div>


</body>
<script src="./createUser.js"></script>
</html>