
<div>
  <h1>Create A New Post</h1>
</div>

<div>
  <input id="blog-title" placeholder="Please Enter Title">
  <input id="blog-author" placeholder="Enter Author Name">
  <input id="blog-text" placeholder="Write Your Blog">
  <button id="submit-btn">submit</button>
</div>
