
<body>
  <p>Create User Profile</p>



<input id="user-name" placeholder="username">
<input id="email" placeholder="email">
<input id="password" placeholder="password">
{{!-- <input placeholder="email"> --}}
<button id="create-accountBtn">Create Account</button>
</body>
<script src="./createUser.js"></script>
</html>