<body>

      <div class="headings">
      <h1>Create A Blog Post</h1>
    </div>



<div class="fields">
<div class="form-cont">
  <input id="blog-title" placeholder="Please Enter Title">
  <input id="blog-author" placeholder="Enter Author Name">
  <input id="blog-text" placeholder="Write Your Blog">
  <button id="submit-btn">submit</button>
</div>
</div>


<script src="./index.js"></script>
</body>
