
<div>
  <h1>Create A New Post</h1>
</div>

<div>
  <input id="" placeholder="Type Something">
  <input id="" placeholder="Type Something">
  <input id="" placeholder="Type Something">
  <button id="newPost-btn">submit</button>
</div>
