<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  
  
  <div class="blogs content">

    <h2>Welcome Home</h2>


  </div>

</body>
</html>