
<body>
  <p>Log in</p>


<input id="user-name" placeholder="username">
<input id="password" placeholder="password">
{{!-- <input placeholder="email"> --}}
<button id="login">Log In</button>
</body>
</html>