* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: lightblue;
  display: flex;
  gap: 100px;
  height: 70px;
  align-items: center;
}


ul {
  display: flex;
  gap: 50px;
  list-style: none;

  
}

/* ul button {


} */